@tailwind base;
@tailwind components;
@tailwind utilities;

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
}

.text-myblack{
  color: #161616;
}

.bg-myblack{
  background-color: #161616;
}

.text-mygray{
  color: #797878;
}
.bg-mygray{
  background-color: #797878;
}