@tailwind base;
@tailwind components;
@tailwind utilities;

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
}

.text-mygray{
  color: #6e6e6e;
}
.bg-mygray{
  background-color: #F8F8F8;
}