@tailwind base;
@tailwind components;
@tailwind utilities;

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
}

.text-mygray{
  color: #6e6e6e;
}
.bg-mygray{
  background-color: #F8F8F8;
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ffffff #010101; /* Thumb color Track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Vertical scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Thumb color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* Track color */
}

